# Elham Bahrami
## Housing Maintenance Code Violations
### 10/27/2019

### I am going to ingest my data set(Housing Maintenance Code Violation), to see if I can improve it make it ready to be analyzed.

In [28]:
#Since the data is taken from NYC Data Open Portal I take 5000 rows of it
import pandas as pd
dfm = pd.read_csv("https://data.cityofnewyork.us/resource/wvxf-dwi5.csv?$limit=5000")

In [29]:
#Seeing five rwos of the data set
dfm.head()

,violationid,buildingid,registrationid,boroid,boro,housenumber,lowhousenumber,highhousenumber,streetname,streetcode,...,novtype,violationstatus,latitude,longitude,communityboard,councildistrict,censustract,bin,bbl,nta
0,10000009,265980,301467,3,BROOKLYN,355,355,355,EAST 48 STREET,36930,...,Original,Close,40.653217,-73.932480,17,41,870,3102071.0,3.046740e+09,East Flatbush-Farragut
1,10000011,73852,226626,2,BRONX,1123,1123,1123,EAST TREMONT AVENUE,29620,...,Original,Close,40.839954,-73.876599,6,15,220,2042428.0,2.040040e+09,East Tremont
2,10000012,80102,211704,2,BRONX,751,751,751,GERARD AVENUE,35020,...,Original,Close,40.824692,-73.926605,4,8,63,2002971.0,2.024820e+09,West Concourse
3,10000014,268639,350942,3,BROOKLYN,54,54,54,EAST 52 STREET,37080,...,Original,Close,40.659731,-73.929295,17,41,878,3099672.0,3.046050e+09,Prospect Lefferts Gardens-Wingate
4,10000017,268167,300713,3,BROOKLYN,146,146,146,EAST 52 STREET,37080,...,Original,Close,40.657615,-73.929067,17,41,878,3100214.0,3.046210e+09,Prospect Lefferts Gardens-Wingate

In [30]:
#What columns are there in the data set
dfm.columns

Index(['violationid', 'buildingid', 'registrationid', 'boroid', 'boro',
       'housenumber', 'lowhousenumber', 'highhousenumber', 'streetname',
       'streetcode', 'zip', 'apartment', 'story', 'block', 'lot', 'class',
       'inspectiondate', 'approveddate', 'originalcertifybydate',
       'originalcorrectbydate', 'newcertifybydate', 'newcorrectbydate',
       'certifieddate', 'ordernumber', 'novid', 'novdescription',
       'novissueddate', 'currentstatusid', 'currentstatus',
       'currentstatusdate', 'novtype', 'violationstatus', 'latitude',
       'longitude', 'communityboard', 'councildistrict', 'censustract', 'bin',
       'bbl', 'nta'],
      dtype='object')

In [31]:
#what type of data is there for each column
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 40 columns):
violationid              5000 non-null int64
buildingid               5000 non-null int64
registrationid           5000 non-null int64
boroid                   5000 non-null int64
boro                     5000 non-null object
housenumber              5000 non-null object
lowhousenumber           4997 non-null object
highhousenumber          5000 non-null object
streetname               5000 non-null object
streetcode               5000 non-null int64
zip                      5000 non-null int64
apartment                4169 non-null object
story                    4838 non-null object
block                    5000 non-null int64
lot                      5000 non-null int64
class                    5000 non-null object
inspectiondate           5000 non-null object
approveddate             5000 non-null object
originalcertifybydate    4944 non-null object
originalcorrectbydate    4944 non-null object
newcertifybydate         57 non-null object
newcorrectbydate         57 non-null object
certifieddate            654 non-null object
ordernumber              5000 non-null int64
novid                    5000 non-null int64
novdescription           5000 non-null object
novissueddate            4944 non-null object
currentstatusid          5000 non-null int64
currentstatus            5000 non-null object
currentstatusdate        5000 non-null object
novtype                  4944 non-null object
violationstatus          5000 non-null object
latitude                 5000 non-null float64
longitude                5000 non-null float64
communityboard           5000 non-null int64
councildistrict          5000 non-null int64
censustract              5000 non-null int64
bin                      4998 non-null float64
bbl                      4998 non-null float64
nta                      5000 non-null object
dtypes: float64(4), int64(14), object(22)
memory usage: 1.5+ MB

In [32]:
# Since column boro may not clear what it is, I need to change the name to borough
dfm = dfm.rename(columns={"boro":"borough"})

In [33]:
# Check if I have five values in borough column
dfm["borough"].unique()

array(['BROOKLYN', 'BRONX', 'MANHATTAN', 'QUEENS', 'STATEN ISLAND'],
      dtype=object)

In [34]:
# How many null values are there
dfm.isnull().sum()

violationid                 0
buildingid                  0
registrationid              0
boroid                      0
borough                     0
housenumber                 0
lowhousenumber              3
highhousenumber             0
streetname                  0
streetcode                  0
zip                         0
apartment                 831
story                     162
block                       0
lot                         0
class                       0
inspectiondate              0
approveddate                0
originalcertifybydate      56
originalcorrectbydate      56
newcertifybydate         4943
newcorrectbydate         4943
certifieddate            4346
ordernumber                 0
novid                       0
novdescription              0
novissueddate              56
currentstatusid             0
currentstatus               0
currentstatusdate           0
novtype                    56
violationstatus             0
latitude                    0
longitude                   0
communityboard              0
councildistrict             0
censustract                 0
bin                         2
bbl                         2
nta                         0
dtype: int64

### Since three columns: newcertifybydate, newcorrectbydate, certifieddate have a lot of missing values, it is better to remove them.

In [35]:
# Removing columns with a lot of missing values
dfm.drop(['newcertifybydate', 'newcorrectbydate', 'certifieddate'], axis=1, inplace=True)

### Still there some null value in the data set which is not that many compare to the size(5000 rows), so I am going to drop them and it will not affect the whole data set and analysis.

In [37]:
dfm = dfm.dropna()

In [39]:
# Changing type of values in zip to object that is better than numeric for analysis. 
dfm['zip'] = dfm['zip'].astype(str)

In [40]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4150 entries, 2 to 4997
Data columns (total 37 columns):
violationid              4150 non-null int64
buildingid               4150 non-null int64
registrationid           4150 non-null int64
boroid                   4150 non-null int64
borough                  4150 non-null object
housenumber              4150 non-null object
lowhousenumber           4150 non-null object
highhousenumber          4150 non-null object
streetname               4150 non-null object
streetcode               4150 non-null int64
zip                      4150 non-null object
apartment                4150 non-null object
story                    4150 non-null object
block                    4150 non-null int64
lot                      4150 non-null int64
class                    4150 non-null object
inspectiondate           4150 non-null object
approveddate             4150 non-null object
originalcertifybydate    4150 non-null object
originalcorrectbydate    4150 non-null object
ordernumber              4150 non-null int64
novid                    4150 non-null int64
novdescription           4150 non-null object
novissueddate            4150 non-null object
currentstatusid          4150 non-null int64
currentstatus            4150 non-null object
currentstatusdate        4150 non-null object
novtype                  4150 non-null object
violationstatus          4150 non-null object
latitude                 4150 non-null float64
longitude                4150 non-null float64
communityboard           4150 non-null int64
councildistrict          4150 non-null int64
censustract              4150 non-null int64
bin                      4150 non-null float64
bbl                      4150 non-null float64
nta                      4150 non-null object
dtypes: float64(4), int64(13), object(20)
memory usage: 1.2+ MB

### I need to convert the column that have date to datetime type.

In [53]:
dfm[['currentstatusdate','originalcertifybydate', 
     'originalcorrectbydate','novissueddate', 'inspectiondate', 'approveddate']]= dfm[['currentstatusdate','originalcertifybydate', 
                                                     'originalcorrectbydate','novissueddate','inspectiondate','approveddate']].apply(pd.to_datetime, format='%Y-%m-%d %H:%M:%S.%f')